<div class="middle-block">
  <Strong>Selecionados</Strong><br>
  {{selectedTeamsLentgh()}} de 8 equipes
  <button mat-stroked-button (click)="generateCup()">Gerar Copa</button>
</div>
<div class="content-block">
  <mat-grid-list cols="4" rowHeight="4:1" gutterSize="5px">
    <mat-grid-tile *ngFor="let team of teams; let i = index">
      <input type="checkbox" (change)="onChange(team, $event.target.checked)">
      {{team.nome}}<br>
      {{team.sigla}}
    </mat-grid-tile>
  </mat-grid-list>
</div>
