.middle-block {
  padding: 10px;
  height: 65px;
}

.content-block {
  position: relative;
}

mat-grid-tile {
  background-color: #cbcccc;
}

input {
  margin-right: 30px;
}

button {
  float: right;
}
